* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #fefefe;
}

body {
    background-color: #fefefe;
}

nav {
    background-color: #ec1c24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fefefe;
    padding: 2%;
    width: 100%;
}

.logo {
    font-size: clamp(1.2rem, calc(5vw + 0.1rem), 1.8rem);
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-items ul {
    display: flex;
}

.nav-items ul li {
    list-style: none;
}

.nav-items ul li a {
    padding: 1rem;
    display: block;
    font-size: clamp(1rem, calc(10vw + 0.1rem), 1.1rem);
    font-weight: 500;
    text-transform: uppercase;
}

.nav-items ul li a:hover{
    background-color: #fefefe;
    color: #ec1c24;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-items ul li a.activated {
    text-decoration: underline;
}

.hamburger {
    display: none;
}


.content {
    padding: 2% 5%;
}

.content h1 {
    font-size: clamp(1.2rem, calc(5vw + 0.1rem), 1.8rem);
    margin-bottom: 3%;
}

#about-content-body {
    width: 80%;
    margin: auto;
}

#about-content-body h2 {
    margin-bottom: 1%;
}

.about-content-body-main {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;   
}

.about-content-body-text {
    flex: 1;
    min-width: 60%;
    font-size: clamp(8px, calc(5vw + 2px), 20px);
    text-align: justify;
    /* padding: 1% 3%; */
}

.about-content-body-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-content-body-image img {
    width: clamp(10rem, calc(10vw + 10rem), 50rem);
    height: auto;
}





@media only screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items {
        width: 100%;
        text-align: center;
        display: none;
    }

    .nav-items ul {
        width: 100%;
        display: block;
    }

    .nav-items ul li a {
        padding: 0.5rem;
    }

    .hamburger {
        position: absolute;
        right: 2%;
        display: block;
        font-size: clamp(1.2rem, calc(5vw + 0.1rem), 1.8rem);
        cursor: pointer;
    }

    .nav-items.active {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    #about-content-body {
        width: 90%;
        margin: auto;
    }

    .about-content-body-main {
        flex-direction: column;
    }

    .about-content-body-text {
        margin-bottom: 4%;
        min-width: 90%;
    }

    .about-content-body-image img {
        width: 100%;
        height: auto;
    }
}